{% extends 'mainapp/base.html' %}
{% block content %}
            <h3>Книга "Вы, конечно, шутите, мистер Фейнман!"</h3>
            <a href="/static/mainapp/img/book_feynmans_joke.jpg" target="_blank">
                <img class="cover" src="/static/mainapp/img/book_feynmans_joke.jpg" height="400" alt="Вы, конечно, шутите, мистер Фейнман!">
            </a>
            <div class="about">
                <h2>Описание</h2>
                <p>
                    Он был известен своим пристрастием к шуткам и розыгрышам, писал изумительные портреты, 
                    играл на экзотических музыкальных инструментах…<br>
                    Это одна из немногих книг, которые навсегда остаются в памяти каждого, кто их прочитал.
                </p>
            </div>
            <h2>Харакетристики товара</h2>
            <table class="product_properties">
                <tbody>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Ориг.название:</b></td>
                        <td>Surely You'Re Joking, Mr. Feynman!</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Автор:</b></td>
                        <td>Ричард Фейнман</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Формат издания:</b></td>
                        <td> 115x180</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Количество страниц:</b></td>
                        <td>480</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Год выпуска:</b></td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>ISBN:</b></td>
                        <td>978-5-17-092293-2</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Издательство:</b></td>
                        <td>АСТ</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Переплет:</b></td>
                        <td>Мягкая обложка</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Язык издания:</b></td>
                        <td>Русский</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Возрастные ограничения:</b></td>
                        <td>12+</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Размер, см:</b></td>
                        <td>11,5x18</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Тип издания:</b></td>
                        <td>Отдельное издание</td>
                    </tr>
                    <tr>
                        <td><img src="/static/mainapp/img/star.png"></td>
                        <td><b>Вес в упаковке, г:</b></td>
                        <td>290</td>
                    </tr>
                </tbody>
            </table>
            <h2>Подробное описание</h2>
            <p id= "full_about">
                Он был известен своим пристрастием к шуткам и розыгрышам, писал изумительные портреты,<br>
                играл на экзотических музыкальных инструментах. Великолепный оратор,<br>
                он превращал каждую свою лекцию в захватывающую интеллектуальную игру.<br>
                На его выступления рвались не только студенты и коллеги, но и люди, просто увлеченные физикой.<br>
                Автобиография великого ученого захватывает сильнее, чем приключенческий роман.<br>
                Это одна из немногих книг, которые навсегда остаются в памяти каждого, кто их прочитал.
            </p>
{% endblock %}