{% extends 'mainapp/base.html' %}
{% block title %}
            <title>Книга "Гарри Поттер и Философский камень"</title>
{% endblock %}
{% block content %}
            <h3>Книга "Гарри Поттер и Философский камень"</h3>
            <a href="/static/mainapp/img/book_Harry_Potter_01.jpg" target="_blank">
                <img class="cover" src="/static/mainapp/img/book_Harry_Potter_01.jpg" height="400" alt="Гарри Поттер и Философский камень">
            </a>
            <div class="about">
                <h2>Описание</h2>
                <p>
                    Издательская группа "Азбука-Аттикус" с гордостью сообщает о начале публикации<br>
                    уникальных мировых бестселлеров - семи книг Дж.К. Роулинг о Гарри Поттере.
                </p>
            </div>
            
            <h2>Харакетристики товара</h2>
            <table class="product_properties">
                <tbody>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><b>Ориг.название:</b></td>
                        <td>Harry Potter and the Philosopher's Stone</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Автор:</b></td>
                        <td>Джоан Кэтлин Роулинг</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Формат издания:</b></td>
                        <td> 125x200</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Количество страниц:</b></td>
                        <td>432</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Год выпуска:</b></td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>ISBN:</b></td>
                        <td>978-5-389-07435-4</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Издательство:</b></td>
                        <td>Machaon, Азбука-Аттикус</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Переплет:</b></td>
                        <td>Твердый переплет</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Язык издания:</b></td>
                        <td>Русский</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Возрастные ограничения:</b></td>
                        <td>6+</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Размер, см:</b></td>
                        <td>13x21</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Тип издания:</b></td>
                        <td>Отдельное издание</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Вес в упаковке, г:</b></td>
                        <td>470</td>
                    </tr>
                </tbody>
            </table>
            <h2>Подробное описание</h2>
            <p id= "full_about">
                «Перевернув конверт трясущимися руками, Гарри увидел на обратной стороне<br>
                лиловую сургучную печать с гербом: лев, орел, барсук и змея вокруг большой буквы "Х"».<br>
                Гарри Поттер ни разу даже не слышал о «Хогварце», но на дверной коврик дома<br>
                номер четыре по Бирючинной улице начинают падать письма. Адрес написан зелеными чернилами<br>
                на желтоватом пергаменте, а конверт скрепляет лиловая печать.<br>
                Однако письма тут же конфисковывают тетя и дядя мальчика, имеющие на редкость скверный характер.<br>
                Потом, на одиннадцатый день рождения Гарри, в дом врывается гигант по имени Рубеус Огрид<br>
                с невероятными новостями: Гарри Поттер – волшебник, и его ждет место в школе колдовства<br>
                и ведьминских искусств «Хогварц». Потрясающие приключения начинаются!
            </p>
{% endblock %}