{% extends 'mainapp/base.html' %}
{% block title %}
            <title>Книга "Звездные бойни"</title>
{% endblock %}
{% block content %}
            <h3>Книга "Звездные бойни"</h3>
            <a href="/static/mainapp/img/book_star_wars.jpg" target="_blank">
                <img class="cover" src="/static/mainapp/img/book_star_wars.jpg" height="400" alt="Звездные бойни">
            </a>
            <div class="about">
                <h2>Описание</h2>
                <p>
                    Давным-давно в одной далекой Галактике происходили звездные бойни…
                </p>
            </div>
            <a href= "#" class="buy">
                    купить
            </a>
            <h2>Харакетристики товара</h2>
            <table class="product_properties">
                <tbody>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><b>Автор:</b></td>
                        <td>Кирилл Каланджи</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Формат издания:</b></td>
                        <td> 125x200</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Количество страниц:</b></td>
                        <td>352</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Год выпуска:</b></td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>ISBN:</b></td>
                        <td>978-5-699-93237-5</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Издательство:</b></td>
                        <td>Эксмо</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Переплет:</b></td>
                        <td>Твердый переплет</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Язык издания:</b></td>
                        <td>Русский</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Возрастные ограничения:</b></td>
                        <td>16+</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Размер, см:</b></td>
                        <td>12,5x20</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Тип издания:</b></td>
                        <td>Отдельное издание</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Вес в упаковке, г:</b></td>
                        <td>275</td>
                    </tr>
                </tbody>
            </table>
            <h2>Подробное описание</h2>
            <p id= "full_about">
                Давным-давно в одной далекой Галактике происходили звездные бойни…<br>
                Да, вы не ослышались, именно бойни! Валдай Ибн-Аргон, обычный и ничем не примечательный солдат Империи Зла,<br>
                попал в самый настоящий ад. Рядовой гренадер, он на своей шкуре прочувствовал,<br>
                каково это — быть на службе у вселенской тирании, оставаясь верноподданным зловещего императора галактик,<br>
                сражаться против храбрых повстанцев…
            </p>
{% endblock %}