<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Book store</title>
    <link rel="stylesheet" type="text/css" href="/static/mainapp/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/mainapp/css/table.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="static/mainapp/img/logo.jpg">
            <ul class="menu">
                <li><a href="/contacts/">Контакты</a></li>
                <li><a href="/products/">Каталог</a></li>
                <li><a href="/">Главная</a></li>
            </ul>
        </div>
        <hr>
        <h3>
            <p>Главная</p>
        </h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Facilis voluptas provident quisquam nulla, maiores qui quo 
                molestias tempore aperiam consequatur ipsa quia eum aut quod, 
                delectus ipsam, quas sunt neque.</p>
        <hr>
        <div class="footer">
            &copy; Все права защищены.
        </div>
    </div>
</body>
</html>